# ========================
# Backend
# ========================
ForumTestTask/bin/Debug/net10.0/appsettings.Development.json
ForumTestTask/bin/Debug/net10.0/appsettings.json
ForumTestTask/bin/Debug/net10.0/Azure.Core.dll
ForumTestTask/bin/Debug/net10.0/Azure.Identity.dll
ForumTestTask/bin/Debug/net10.0/ForumTestTask.deps.json
ForumTestTask/bin/Debug/net10.0/ForumTestTask.dll
ForumTestTask/bin/Debug/net10.0/ForumTestTask.exe
ForumTestTask/bin/Debug/net10.0/ForumTestTask.pdb
ForumTestTask/bin/Debug/net10.0/ForumTestTask.runtimeconfig.json
ForumTestTask/bin/Debug/net10.0/ForumTestTask.staticwebassets.endpoints.json
ForumTestTask/bin/Debug/net10.0/Humanizer.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.AspNetCore.OpenApi.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.Bcl.AsyncInterfaces.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.Bcl.Cryptography.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.Build.Framework.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.CodeAnalysis.CSharp.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.CodeAnalysis.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.CodeAnalysis.ExternalAccess.RazorCompiler.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.CodeAnalysis.Workspaces.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.Data.SqlClient.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Abstractions.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Design.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Relational.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.SqlServer.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.Extensions.DependencyModel.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.Identity.Client.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.Identity.Client.Extensions.Msal.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.IdentityModel.Abstractions.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.IdentityModel.JsonWebTokens.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.IdentityModel.Logging.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.IdentityModel.Protocols.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.IdentityModel.Tokens.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.OpenApi.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.SqlServer.Server.dll
ForumTestTask/bin/Debug/net10.0/Microsoft.VisualStudio.SolutionPersistence.dll
ForumTestTask/bin/Debug/net10.0/Mono.TextTemplating.dll
ForumTestTask/bin/Debug/net10.0/Newtonsoft.Json.dll
ForumTestTask/bin/Debug/net10.0/System.ClientModel.dll
ForumTestTask/bin/Debug/net10.0/System.CodeDom.dll
ForumTestTask/bin/Debug/net10.0/System.Composition.AttributedModel.dll
ForumTestTask/bin/Debug/net10.0/System.Composition.Convention.dll
ForumTestTask/bin/Debug/net10.0/System.Composition.Hosting.dll
ForumTestTask/bin/Debug/net10.0/System.Composition.Runtime.dll
ForumTestTask/bin/Debug/net10.0/System.Composition.TypedParts.dll
ForumTestTask/bin/Debug/net10.0/System.Configuration.ConfigurationManager.dll
ForumTestTask/bin/Debug/net10.0/System.IdentityModel.Tokens.Jwt.dll
ForumTestTask/bin/Debug/net10.0/System.Memory.Data.dll
ForumTestTask/bin/Debug/net10.0/System.Security.Cryptography.ProtectedData.dll
ForumTestTask/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.resources.dll
ForumTestTask/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/cs/Microsoft.Data.SqlClient.resources.dll
ForumTestTask/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.resources.dll
ForumTestTask/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/de/Microsoft.Data.SqlClient.resources.dll
ForumTestTask/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.resources.dll
ForumTestTask/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/es/Microsoft.Data.SqlClient.resources.dll
ForumTestTask/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.resources.dll
ForumTestTask/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/fr/Microsoft.Data.SqlClient.resources.dll
ForumTestTask/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.resources.dll
ForumTestTask/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/it/Microsoft.Data.SqlClient.resources.dll
ForumTestTask/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.resources.dll
ForumTestTask/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/ja/Microsoft.Data.SqlClient.resources.dll
ForumTestTask/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.resources.dll
ForumTestTask/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/ko/Microsoft.Data.SqlClient.resources.dll
ForumTestTask/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.resources.dll
ForumTestTask/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/pl/Microsoft.Data.SqlClient.resources.dll
ForumTestTask/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
ForumTestTask/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/pt-BR/Microsoft.Data.SqlClient.resources.dll
ForumTestTask/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.resources.dll
ForumTestTask/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/ru/Microsoft.Data.SqlClient.resources.dll
ForumTestTask/bin/Debug/net10.0/runtimes/unix/lib/net9.0/Microsoft.Data.SqlClient.dll
ForumTestTask/bin/Debug/net10.0/runtimes/win/lib/net9.0/Microsoft.Data.SqlClient.dll
ForumTestTask/bin/Debug/net10.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
ForumTestTask/bin/Debug/net10.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
ForumTestTask/bin/Debug/net10.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
ForumTestTask/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.resources.dll
ForumTestTask/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/tr/Microsoft.Data.SqlClient.resources.dll
ForumTestTask/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
ForumTestTask/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/zh-Hans/Microsoft.Data.SqlClient.resources.dll
ForumTestTask/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
ForumTestTask/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask/bin/Debug/net10.0/zh-Hant/Microsoft.Data.SqlClient.resources.dll
ForumTestTask/obj/ForumTestTask.csproj.nuget.dgspec.json
ForumTestTask/obj/ForumTestTask.csproj.nuget.g.props
ForumTestTask/obj/ForumTestTask.csproj.nuget.g.targets
ForumTestTask/obj/project.assets.json
ForumTestTask/obj/project.nuget.cache
ForumTestTask/obj/project.packagespec.json
ForumTestTask/obj/rider.project.restore.info
ForumTestTask/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
ForumTestTask/obj/Debug/net10.0/apphost.exe
ForumTestTask/obj/Debug/net10.0/ForumTes.6AEE8411.Up2Date
ForumTestTask/obj/Debug/net10.0/ForumTestTask.AssemblyInfo.cs
ForumTestTask/obj/Debug/net10.0/ForumTestTask.AssemblyInfoInputs.cache
ForumTestTask/obj/Debug/net10.0/ForumTestTask.assets.cache
ForumTestTask/obj/Debug/net10.0/ForumTestTask.csproj.AssemblyReference.cache
ForumTestTask/obj/Debug/net10.0/ForumTestTask.csproj.CoreCompileInputs.cache
ForumTestTask/obj/Debug/net10.0/ForumTestTask.csproj.FileListAbsolute.txt
ForumTestTask/obj/Debug/net10.0/ForumTestTask.dll
ForumTestTask/obj/Debug/net10.0/ForumTestTask.GeneratedMSBuildEditorConfig.editorconfig
ForumTestTask/obj/Debug/net10.0/ForumTestTask.genruntimeconfig.cache
ForumTestTask/obj/Debug/net10.0/ForumTestTask.GlobalUsings.g.cs
ForumTestTask/obj/Debug/net10.0/ForumTestTask.MvcApplicationPartsAssemblyInfo.cache
ForumTestTask/obj/Debug/net10.0/ForumTestTask.MvcApplicationPartsAssemblyInfo.cs
ForumTestTask/obj/Debug/net10.0/ForumTestTask.pdb
ForumTestTask/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
ForumTestTask/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
ForumTestTask/obj/Debug/net10.0/rpswa.dswa.cache.json
ForumTestTask/obj/Debug/net10.0/staticwebassets.build.endpoints.json
ForumTestTask/obj/Debug/net10.0/staticwebassets.build.json
ForumTestTask/obj/Debug/net10.0/staticwebassets.build.json.cache
ForumTestTask/obj/Debug/net10.0/swae.build.ex.cache
ForumTestTask/obj/Debug/net10.0/ref/ForumTestTask.dll
ForumTestTask/obj/Debug/net10.0/refint/ForumTestTask.dll

# ========================
# Frontend
# ========================
ForumTestTask.BE/bin/Debug/net10.0/appsettings.Development.json
ForumTestTask.BE/bin/Debug/net10.0/appsettings.json
ForumTestTask.BE/bin/Debug/net10.0/Azure.Core.dll
ForumTestTask.BE/bin/Debug/net10.0/Azure.Identity.dll
ForumTestTask.BE/bin/Debug/net10.0/ForumTestTask.BE.deps.json
ForumTestTask.BE/bin/Debug/net10.0/ForumTestTask.BE.dll
ForumTestTask.BE/bin/Debug/net10.0/ForumTestTask.BE.exe
ForumTestTask.BE/bin/Debug/net10.0/ForumTestTask.BE.pdb
ForumTestTask.BE/bin/Debug/net10.0/ForumTestTask.BE.runtimeconfig.json
ForumTestTask.BE/bin/Debug/net10.0/ForumTestTask.BE.staticwebassets.endpoints.json
ForumTestTask.BE/bin/Debug/net10.0/ForumTestTask.deps.json
ForumTestTask.BE/bin/Debug/net10.0/ForumTestTask.dll
ForumTestTask.BE/bin/Debug/net10.0/ForumTestTask.exe
ForumTestTask.BE/bin/Debug/net10.0/ForumTestTask.pdb
ForumTestTask.BE/bin/Debug/net10.0/ForumTestTask.runtimeconfig.json
ForumTestTask.BE/bin/Debug/net10.0/ForumTestTask.staticwebassets.endpoints.json
ForumTestTask.BE/bin/Debug/net10.0/Humanizer.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.AspNetCore.OpenApi.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.Bcl.AsyncInterfaces.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.Bcl.Cryptography.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.Build.Framework.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.CodeAnalysis.CSharp.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.CodeAnalysis.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.CodeAnalysis.ExternalAccess.RazorCompiler.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.CodeAnalysis.Workspaces.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.Data.SqlClient.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Abstractions.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Design.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.Relational.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.EntityFrameworkCore.SqlServer.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.Extensions.DependencyModel.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.Identity.Client.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.Identity.Client.Extensions.Msal.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.IdentityModel.Abstractions.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.IdentityModel.JsonWebTokens.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.IdentityModel.Logging.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.IdentityModel.Protocols.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.IdentityModel.Tokens.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.OpenApi.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.SqlServer.Server.dll
ForumTestTask.BE/bin/Debug/net10.0/Microsoft.VisualStudio.SolutionPersistence.dll
ForumTestTask.BE/bin/Debug/net10.0/Mono.TextTemplating.dll
ForumTestTask.BE/bin/Debug/net10.0/Newtonsoft.Json.dll
ForumTestTask.BE/bin/Debug/net10.0/System.ClientModel.dll
ForumTestTask.BE/bin/Debug/net10.0/System.CodeDom.dll
ForumTestTask.BE/bin/Debug/net10.0/System.Composition.AttributedModel.dll
ForumTestTask.BE/bin/Debug/net10.0/System.Composition.Convention.dll
ForumTestTask.BE/bin/Debug/net10.0/System.Composition.Hosting.dll
ForumTestTask.BE/bin/Debug/net10.0/System.Composition.Runtime.dll
ForumTestTask.BE/bin/Debug/net10.0/System.Composition.TypedParts.dll
ForumTestTask.BE/bin/Debug/net10.0/System.Configuration.ConfigurationManager.dll
ForumTestTask.BE/bin/Debug/net10.0/System.IdentityModel.Tokens.Jwt.dll
ForumTestTask.BE/bin/Debug/net10.0/System.Memory.Data.dll
ForumTestTask.BE/bin/Debug/net10.0/System.Security.Cryptography.ProtectedData.dll
ForumTestTask.BE/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/cs/Microsoft.Data.SqlClient.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/de/Microsoft.Data.SqlClient.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/es/Microsoft.Data.SqlClient.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/fr/Microsoft.Data.SqlClient.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/it/Microsoft.Data.SqlClient.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/ja/Microsoft.Data.SqlClient.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/ko/Microsoft.Data.SqlClient.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/pl/Microsoft.Data.SqlClient.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/pt-BR/Microsoft.Data.SqlClient.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/ru/Microsoft.Data.SqlClient.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/runtimes/unix/lib/net9.0/Microsoft.Data.SqlClient.dll
ForumTestTask.BE/bin/Debug/net10.0/runtimes/win/lib/net9.0/Microsoft.Data.SqlClient.dll
ForumTestTask.BE/bin/Debug/net10.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
ForumTestTask.BE/bin/Debug/net10.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
ForumTestTask.BE/bin/Debug/net10.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
ForumTestTask.BE/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/tr/Microsoft.Data.SqlClient.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/zh-Hans/Microsoft.Data.SqlClient.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
ForumTestTask.BE/bin/Debug/net10.0/zh-Hant/Microsoft.Data.SqlClient.resources.dll
ForumTestTask.BE/obj/ForumTestTask.BE.csproj.nuget.dgspec.json
ForumTestTask.BE/obj/ForumTestTask.BE.csproj.nuget.g.props
ForumTestTask.BE/obj/ForumTestTask.BE.csproj.nuget.g.targets
ForumTestTask.BE/obj/ForumTestTask.csproj.nuget.dgspec.json
ForumTestTask.BE/obj/ForumTestTask.csproj.nuget.g.props
ForumTestTask.BE/obj/ForumTestTask.csproj.nuget.g.targets
ForumTestTask.BE/obj/project.assets.json
ForumTestTask.BE/obj/project.nuget.cache
ForumTestTask.BE/obj/project.packagespec.json
ForumTestTask.BE/obj/rider.project.restore.info
ForumTestTask.BE/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
ForumTestTask.BE/obj/Debug/net10.0/apphost.exe
ForumTestTask.BE/obj/Debug/net10.0/ForumTes.6AEE8411.Up2Date
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.AssemblyInfo.cs
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.AssemblyInfoInputs.cache
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.assets.cache
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.BE.AssemblyInfo.cs
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.BE.AssemblyInfoInputs.cache
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.BE.assets.cache
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.BE.csproj.AssemblyReference.cache
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.BE.csproj.CoreCompileInputs.cache
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.BE.csproj.FileListAbsolute.txt
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.BE.dll
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.BE.GeneratedMSBuildEditorConfig.editorconfig
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.BE.genruntimeconfig.cache
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.BE.GlobalUsings.g.cs
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.BE.MvcApplicationPartsAssemblyInfo.cache
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.BE.MvcApplicationPartsAssemblyInfo.cs
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.BE.pdb
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.csproj.AssemblyReference.cache
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.csproj.CoreCompileInputs.cache
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.csproj.FileListAbsolute.txt
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.dll
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.GeneratedMSBuildEditorConfig.editorconfig
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.genruntimeconfig.cache
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.GlobalUsings.g.cs
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.MvcApplicationPartsAssemblyInfo.cache
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.MvcApplicationPartsAssemblyInfo.cs
ForumTestTask.BE/obj/Debug/net10.0/ForumTestTask.pdb
ForumTestTask.BE/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
ForumTestTask.BE/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
ForumTestTask.BE/obj/Debug/net10.0/rpswa.dswa.cache.json
ForumTestTask.BE/obj/Debug/net10.0/staticwebassets.build.endpoints.json
ForumTestTask.BE/obj/Debug/net10.0/staticwebassets.build.json
ForumTestTask.BE/obj/Debug/net10.0/staticwebassets.build.json.cache
ForumTestTask.BE/obj/Debug/net10.0/swae.build.ex.cache
ForumTestTask.BE/obj/Debug/net10.0/ref/ForumTestTask.BE.dll
ForumTestTask.BE/obj/Debug/net10.0/ref/ForumTestTask.dll
ForumTestTask.BE/obj/Debug/net10.0/refint/ForumTestTask.BE.dll
ForumTestTask.BE/obj/Debug/net10.0/refint/ForumTestTask.dll
ForumTestTask.BE/.github/copilot-instructions.md
ForumTestTask.BE/.idea/.idea.ForumTestTask/.idea/.gitignore
ForumTestTask.BE/.idea/.idea.ForumTestTask/.idea/indexLayout.xml
ForumTestTask.BE/.idea/.idea.ForumTestTask/.idea/vcs.xml
